@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background: #F3F1FF;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
.option{
    height: 100px;
    width: 930px;
    margin: auto;
    background-color: #562EFF;
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    margin-right: 20px;
    align-items: center;
}
.menu-name{
    margin: 15px 30px;
}
.menu-name a{
    text-decoration: none;
    padding: 5px 20px;
    margin-right: 10px;
    color: white;
    border: 1px solid rgb(128, 128, 221);
    border-radius: 20px;
}
.logo{
    display: flex;
    align-items: center;
    margin-left:16px;
}
.text{
    color: whitesmoke;
}
.image a img{
    width: 41px;
    height: 51px;
}


/*-------------
 main section 
---------------*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background: #FFFFFF;
    width: 870px;
    padding:30px;
    margin-top: 21px;
}
.section-title{
    margin-top: 0px;
    margin-bottom: 40px;
    color: #562EFF
    ;
}
hr{
    border: 1px solid gray;
    margin-top: 30px;
    
}

/*-------------------
 Top Player Section
---------------------*/

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    height: 56px;
    width: 56px;
}
.player-name{
    margin-left: 18px;
    font-size: 18px;
}

/*--------------
 Blog Section
----------------*/

.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 30px;
}
.blog{
    display: flex;
    align-items: center;
}
.blog img{
    width: 177px;
    height: 117px;
    margin-right: 16px;
}
.author{
    color: #562EFF;
}
.author span{
    color: #9F9F9F;
}
#margin-remove{
    padding-top: 30px;
}

/*--------------
 Latest courses 
 ---------------*/

.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    
}
.course{
    padding: 15px 15px 15px 0px;
    box-shadow: 5px 5px 10px whitesmoke;
}
.course img{
    width: 224px;
    height: 104px;
}
.fa-star.rating{
    color: #FFC014
    ;
}
.fa-star.another-rating{
    color:#AEAEAE
;
}
.course-author{
    color: #ED6B4F;
}
.course-info{
    display: flex;
    justify-content: space-between;
}
.clock-icon{
    background-color: #FEE5DF;
    color: #FF4A60;
    Width: 94.83px;
    Height:29.38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14.6913px;
}
.fa-clock{
    padding-right: 7px;
}

/*--------------
 Media queries
----------------*/

/* ---------------
For mobile devices 
------------------*/
@media only screen and (max-width:688px){
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .blog{
        flex-direction: column;
    }
    .top-player, .top-blog h2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* ---------------
For mobile devices 
------------------*/
@media only screen and (min-width:689px) and (max-width:992px){
    .container{
        width: 100%;
    }
    .top-player, .top-blog, .latest-course{
        padding-left: 50px;
    }
    
    .players, .courses{
        grid-template-columns: repeat(2, 1fr);
    }
}